
@import url("./catppuccin_frappe.css");

/* Common variables */
:vars {
    --module-bg: alpha(@crust, 0.7);
    --bg: alpha(@crust, 0.7);
}

* {
    all: unset;
    color: var(--text);
    font-size: 14px;
    font-family: "Agave Nerd Font", sans-serif;
    border-radius: 100px;
}

button {
    background-size: 400% 400%;
}

/* Bar items */
#bar-item-misc, #date-time, #hyprland-window {
    background-color: var(--module-bg);
    padding: 0px 8px;
}

#side-panel {
    padding: 4px;
    border: solid 2px @subtext0;
    background-color: var(--bg);
    min-height: 28px;
}



/* Progress bars */
#volume-progress-bar, #cpu-progress-bar, #ram-progress-bar, #battery-progress-bar {
    color: transparent;
    background-color: transparent;
    border: solid 0px;
}

#volume-progress-bar { border-color: @maroon; }
#cpu-progress-bar { border-color: @red; }
#ram-progress-bar { border-color: @mauve; }
#battery-progress-bar { border-color: @sky; }

/* Widgets container */
#widgets-container {
    background-color: alpha(@crust, 0.6);
    border: solid 1px;
    padding: 2px;
}

/* Profile pic */
#profile-pic {
    background-color: alpha(@base, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    padding: 32px;
    margin: 4px;
}

/* Window inner */
#window-inner {
    border: solid 2px @subtext1;
    background-color: var(--bg);
    border-radius: 12px;
    padding: 10px;
}

/* Progress bar separators */
#progress-bar-sep, #progress-bar-container {
    background-color: var(--bg);
    border-radius: 100px;
}

#progress-bar-sep {
    padding: 4px;
    margin: 16px 0px;
}

#progress-bar-container {
    padding: 8px;
}

#cava-box {
  margin: 0px 0px 0px 8px;
}

#cava-label {
    background-color: var(--bg);
    color: @text;
}
